@import '../../SCSS/variables.scss';

.wrapper{
    height: 80vh;
    margin-top: -10rem;
    z-index: -100;
    padding: 4rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    display:flex;
    justify-content: center;
    background-color: $light-gray;

    &Box{
        width: 80%;
        display: grid;
        margin: auto;
        justify-content: center;
    }

    &__img{
        width: 150px;
        height: 200px;
        margin: 0 auto;
    }

    &__header{
        color: $secondary;
        font-size: 2rem;
        margin: 1rem auto;
    }

    &__hr{
        width: 10rem;
        height: 2px;
        border: none;
        background-color:$secondary;
    }

    &__paragraph{
        font-size: 1.6rem;
        width: 50%;
        margin: 2rem auto;
        text-align: justify;
        
    }

    &__link:visited,
    &__link:link
    {
        font-size: 1.6rem;
        color: $primary;
        margin: 0 3px;
        display: inline;
        &:hover,
        &:active{
            background-color: red;
        }
    }
}