@import '../../SCSS/variables.scss';
@import '../AboutMe/AboutMe.module.scss';
.Hobbies{
    height: 90rem;
    width: 100%;
    clip-path: polygon(0% 10%, 100% 00%, 100% 100%, 0% 100%);
    margin-top: -10rem;
    padding-top: 10rem;
    z-index: 2;
    background-color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading{
        font-size: 3rem;
        font-weight: 400;
    }

    &__wrapper{
        display: flex;
        width: 60vw;
        align-items: center;
        padding: 20px;
        background-color: #eee;
        justify-content: flex-start;
    }

    &__wrapperSecondary{
        display: flex;
        width: 60vw;
        align-items: center;
        padding: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row-reverse;
    }
}

.List{
    &__Heading{
        font-size: 2rem;
    }

    &__Item{
        font-size: 1.6rem;
    }
}

.ItemWrapper{
    width: 65%;
    height: 20rem;
    margin: 0 auto -2.5rem;
    z-index: 3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 21rem 1fr;
    text-align: justify;
    justify-items: center;

    &__img{
        width: 15rem;
        grid-column: 1/1;
        margin-left: 10px;
        align-self: center;
    }

    &__description{
        align-self: center;
        font-size: 1.4rem;
        color:$primary;
        ul{
            margin-top: -5px;;
        }
    }

    &__heading{
        font-size: 2.2rem;
        margin-bottom: -5px;
        font-weight: 500;
    }
  
}


.horizontalLine{
    width: 10rem;
    border:1px solid $secondary;
}

.link{
    margin-top: 5rem;
    font-size: 1.4rem;

    a{
    padding: 3px;
    &:visited{
        color:$primary;
    }
    &:hover,
    &:active{
            background-color: black;
            color:$light-gray;
            opacity: .4;
            border-radius: 5px;
            
        }
    }
}

.ItemWrapperReverse{
    @extend .ItemWrapper;
    grid-template-columns: 1fr 21rem;

    .ItemWrapper__img{
        grid-column: 2/2;
    }
    .ItemWrapper__description{
        grid-column: 1/1;
        grid-row: 1/1;
    }
}


@media (max-width:600px){
    .ItemWrapper{
        width: 90%;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        
    }
    .ItemWrapper__img{
        display: none;
    }
}

@media (max-width:800px){
    .ItemWrapper{
        width: 90%;
        margin-bottom: 2rem;
    }
}
