.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100wh;
    height: 10vh;
    background-color: #eee;

    &__paragraph{
    top: 20rem;
    color: #00f;
    font-size: 12px;
    font-weight: 700;
    width: 300px;
    }
}