.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 8vw;
    height: 100vh;
    background-color: #eee;
}

.navbar__paragraph{
    position: absolute;
    top: 20rem;
    transform: rotate(270deg);
    color: #00f;
    font-size: 12px;
    font-weight: 700;
    width: 300px;

}