$primary-color:#00f;

.cursor{
    height: 10px;
    width: 10px;
   background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;

}

.small__cursor{
        height: 40px;
        width: 40px;
        border: 2px solid royalblue;
        border-radius: 50%;
        pointer-events: none;
        position: absolute;
    
}

